<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PyTorch MNIST Model Stats</title>
</head>
<body>
    <h1>PyTorch MNIST Model Stats</h1>
    <h2>Model: Convolutional Neural Network (CNN)</h2>
    <h2>Dataset: MNIST Dataset</h2>
    <p>Training Accuracy: 96.955%</p>
    <p>Testing Accuracy: 96.33%</p>
    <br>
    <p>Training Loss vs. Epoch Graph: </p>
    <img src="../static/training_loss_vs_epoch.png" alt="Graph of Training Loss vs. Epoch">
    <p>Confusion Matrix: </p>
    <img src="../static/confusion_matrix.png" alt="Confusion Matrix">
</body>
</html>